<aside class="al-sidebar">
    <ul class="al-sidebar-list">
        <li class="al-sidebar-list-item">

            <a class="al-sidebar-list-link" href="#/pages/dashboard">
                <i class="fa  fa-home"></i>
                <span>管理面板</span>
            </a>





        </li>
    </ul>

    <accordion [closeOthers]="true">
        <accordion-group [panelClass]="customClass">
            <div accordion-heading>
                <a class="al-sidebar-list-item">
                    <i class="fa  fa-home"></i>
                    <span>用户数据</span>
                </a>

            </div>
            <a class="al-sidebar-list-link" routerLink="/user">
                <i class="fa  fa-home"></i>
                <span>用户</span>
            </a>

            <a class="al-sidebar-list-link" href="#/pages/dashboard">
                <i class="fa  fa-home"></i>
                <span>信息统计</span>
            </a>
        </accordion-group>
    </accordion>


    <accordion [closeOthers]="true">
        <accordion-group [panelClass]="customClass">
            <div accordion-heading>
                <a class="al-sidebar-list-item">
                    <i class="fa  fa-home"></i>
                    <span>周记录</span>
                </a>

            </div>
            <a class="al-sidebar-list-link" routerLink="/weekRecord">
                <i class="fa  fa-home"></i>
                <span>周记录</span>
            </a>
            <a class="al-sidebar-list-link" routerLink="/task">
                <i class="fa  fa-calendar"></i>
                <span>任务</span>
            </a>


        </accordion-group>

    </accordion>


</aside>